html,
body {
    font-size: .28rem;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}
/* header */
.nav-header {
    display: flex;
    height: .8rem;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(108, 108, 216);
}

.nav-header-icon {
    width: 1.2rem;
    color: #fff;
    font-size: .38rem;
    text-align: center;;
}

.nav-header-search {
    flex: 1;
}

.nav-header-search-input {
    height: .6rem;
    color: #777;
    font-size: .28rem;
    line-height: .6rem;
    border-radius: .08rem;
    text-indent: .2rem;
    background-color: #fff;
}

/* content */
.section-banner img {
    max-width: 100%;
}
.section-list ul{
    display: flex;
    justify-content: space-around;
    border-bottom: .02rem solid #bdbcbc;
}
.section-list ul li{
    list-style: none;
    text-align: center;
    padding: .28rem 0;
}
.section-list ul li div{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    background-color: red;
    margin-bottom: .14rem;
}
.section-list ul li div span{
    color: #fff;
    font-size: .5rem;
}
.section-song{
    padding: .4rem .4rem;
}
.section-song  .section-song-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: .2rem;
}
.section-song .section-song-title span{
    display: inline-block;

   }
   .section-song .section-song-title  span:first-child{
    font-size: .4rem;
}
.section-song .section-song-title  span:last-child{
    border: .02rem solid #e6e6e6;
    border-radius: 1.2rem;
    padding: .14rem;

}
.section-song-list{
    padding-bottom: .48rem;
}
.section-song-list ul li{
    float: left;
    width: 33.3%;
    padding-right: 2px;
    box-sizing: border-box;
    margin-bottom: .32rem;
}
.section-song-list ul li div{
    position: relative;
}

.section-song-list ul li img{
    max-width: 100%;
}
.section-song-list ul li span{
    font-size: .26rem;
    padding: .12rem .04rem 0 .12rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
    overflow: hidden;
    height: .6rem;
    line-height: 1.2;
}
.section-song-list ul li div .num{
    position: absolute;
    right:.02rem;
    top: .02rem;
    font-size: .24rem;
    color: #fff;
}
.footer{
    width:100%;
    padding: .1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e9edec;
}
.footer ul{
    display: flex;
    justify-content: space-around;
}
.footer ul li{
    text-align: center;
    font-size: .3rem;
    color: black;
}
.footer ul li.active{
    color: #eb503f;
}
.footer ul li div{
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    margin: 0 auto;
     
}
.footer ul li div span{
    font-size: .3rem;
}